## -*- coding: utf-8 -*-
<%namespace name="navigation" file="/component/navigation.html" import="*" />\

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>${self.title()}</title>
    ${self.head()}
    ${self.js()}
</head>
<body>
    <div id="doc3" class="yui-t5">
        <div id="hd">
             <div class="yui-gc">
                 <div class="yui-u first">${self.heading()}</div>
                 <div class="yui-u"></div>
             </div>
            ${self.header()}
            ${self.tabs()}
        </div>
        <div id="bd">
            <div id="yui-main">
                <div class="yui-b">
                    ${self.breadcrumbs()}
                    ${self.flash()}
                    ${next.body()}
                </div>
            </div>
            <div class="yui-b">
                 ${self.menu()}
            </div>
        </div>
        <div id="ft">
            ${self.footer()}
        </div>
   </div>
</body>
</html>

<%def name="title()">
    SimpleSite
</%def>

<%def name="head()">
    ${h.stylesheet_link(h.url('/yui/2.8.2/reset-fonts-grids/reset-fonts-grids.css'))}
    ${h.stylesheet_link(h.url('/css/main.css'))}
</%def>

<%def name="header()">
    <a name="top"></a>
</%def>

<%def name="tabs()">
    ${navigation.tabs()}
</%def>

<%def name="menu()">
    ${navigation.menu()}
</%def>

<%def name="heading()">
    <h1>${c.heading or 'No Title'}</h1>
</%def>

<%def name="breadcrumbs()">
    ${navigation.breadcrumbs()}
</%def>

<%def name="footer()">
    <p><a href="#top">Top ^</a></p>
</%def>

<%def name="flash()">
    % if session.has_key('flash'):
        <div id="flash"><p>${session.get('flash')}</p></div>
        <%
            del session['flash']
            session.save()
        %>
    % endif
</%def>

<%def name="js()">
</%def>